body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(75deg, blue, #30A8D0, #374CED, #3786ED);
    overflow-x: hidden; 
}

.title {
    margin-top: 50px;
    margin-left: 50px;
    color: #fff;
}

.about {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.about button {
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 81, 255);
    padding: 8px;
    width: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 50px;
    border-width: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.about button:hover{
    font-family: "Poppins", sans-serif;
    background-color: #0077ff;
    transform: scale(1.05);
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-family: "Protest Strike", sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.developer {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.developer:hover {
    transform: translateY(-10px);
}


.developer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    vertical-align: middle;
}

.developer h2 {
    
    margin-top: 0;
    margin-bottom: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay button {
    padding: 0;
    height: 0;
    width: 0;
    border-width: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.overlay button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.35);
    transform: scale(1.25);
}

.overlay-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
